<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/pubs">Publications</a></li>
	        		<li><a href="/cv">CV</a></li>
				<li><a href="/misc">Misc</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<a href="https://dblp.uni-trier.de/pers/hd/d/Davies:Gareth_T="><img src="{{site.url}}/images/dblp-logo.png" style="display: block; margin: auto;height: 1em" alt="DBLP" /> | <a href="https://scholar.google.co.uk/citations?user=_PlHsT8AAAAJ&hl=en"><img src="{{site.url}}/images/scholar-logo.jpg" style="display: block; margin: auto;height: 1em" alt="Google Scholar" /> | <a href="http://www.twitter.com/gareth_t_davies"><img src="{{site.url}}/images/twitter-logo.png" style="display: block; margin: auto;height: 1em" alt="Twitter" /> | <a href="https://linkedin.com/in/gareth-t-davies-78910942"><img src="{{site.url}}/images/linkedin-logo.png" style="display: block; margin: auto;height: 1em" alt="LinkedIn" />
				</ul>
			</footer>
		</body>
	</html>
