<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/pubs">Publications</a></li>
	        		<li><a href="/cv">CV</a></li>
				<li><a href="/misc">Misc</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:gareth.davies89@gmail.com">email</a></li>
				<li><a href="http://www.twitter.com/gareth_t_davies"><img src="{{site.url}}/images/twitter-logo.png" style="display: block; margin: auto;height: 1em" alt="Twitter" /></li>
				<li><a href="https://linkedin.com/in/gareth-t-davies-78910942"><img src="{{site.url}}/images/linkedin-logo.png" style="display: block; margin: auto;height: 1em" alt="LinkedIn" /></li>
				</ul>
			</footer>
		</body>
	</html>
